[submodule "01-erc20/lib/forge-std"]
	path = 01-erc20/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "01-erc20/lib/openzeppelin-contracts"]
	path = 01-erc20/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "02-erc3643/lib/forge-std"]
	path = 02-erc3643/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "02-erc3643/lib/openzeppelin-contracts"]
	path = 02-erc3643/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "03-amm/lib/forge-std"]
	path = 03-amm/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "03-amm/lib/openzeppelin-contracts"]
	path = 03-amm/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "03-amm/03-amm/lib/forge-std"]
	path = 03-amm/03-amm/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
